<ion-content [fullscreen]="true">
  <div class="divback"></div>
  <ion-header>
    <ion-toolbar>
      <ion-buttons class="voltar" (click)="voltar()" slot="start">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-buttons>
      <!-- <ion-title size="large">Home</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-title>Como poupar combustível?</ion-card-title>
      <ion-item>
        <p>Procure levar o necessário!</p>
      </ion-item>
      <ion-item>
        <p>Evite aceleradas e freiadas bruscas!</p>
      </ion-item>
      <ion-item>
        <p>Calibre regularmente os pneus!</p>
      </ion-item>
      <ion-item>
        <p>Direção suave!</p>
      </ion-item>
      <ion-item>
        <p>Deixe o carro em funcionamento apenas quando for dirigir!</p>
      </ion-item>
      <ion-item>
        <p>Escolha percursos menores!</p>
      </ion-item>
    </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <script></script>
</ion-content>
